.item-detail{
    padding: 1em 3em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item-detail img{
    width: 100%;
    height: 100%;
    margin-top: 2rem;
}
.item-detail .item-description{
    width: 100%;
    max-width: 300px;
    padding: 1em;
}
.item-detail .item-description h2{
    width: 100%;
    text-align: left;
    font-size: 1.2em
}

.item-detail .item-description h3{
    font-size: 1em;
}

.item-detail .item-description p{
    font-size: 0.875em;
}

.item-detail .item-description button{
    outline: none;
    border: none;
    padding: 1em 2em;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    width: 100%;
}

.item-detail a{
    color: #fff;
    text-decoration: none;
} 

.item-detail .item-description button:hover{
    cursor: pointer;
    background-color: #4a4a4a;
}

@media (min-width: 1024px){
    .item-detail{
        flex-wrap: nowrap;
        margin-top: 2rem;
    }
    
    .item-detail img{
        width: 375px;
        height: 400px;
        /* padding: 2em; */
        /* margin-top: 2rem; */
        margin: 0;
    }

    .item-detail .watch{
        width: 275px;
        height: 100%;
        height: 300px;
        padding: 1em;
        margin-right: 3em;
        margin-top: 3em;
    }

    .item-detail .item-description{
        width: 100%;
        max-width: 300px;
        padding: 1em;
        height: 300px;
        /* background-color: #ccc; */
    }
}