.cart-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 375px;
    justify-content: center;
    margin: 0px auto;
}

.cart-container h2{
    width: 100%;
    text-align:center;
}

.cart-container h3{
    width: 100%;
    text-align:center;
    font-size: 1.25em;
    margin: 0;
}

.product-list{
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
    width: 375px;
    margin: 0px auto;
    height: auto;
}

.product-list .product-li{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    padding: 0em;
    border-bottom: 1px solid #ccc;
}

.product-list .product-li h3{
    width: 100%;
    padding: 0em;
    font-size: 0.875em;
    text-align:center;
}

.product-list .product-li h4{
    width: 50%;
    padding: 0em;
    font-size: 0.875em;
    font-weight: normal;
    text-align:center;
}

.product-list .product-li h5{
    width: 50%;;
    font-size: 0.875em;
    text-align: right;
    text-align:center;
}

.product-list .product-li .header-li
{
    display: flex;
    align-items: center;
    width: 100%;
}

.product-list .product-li .buttons-li{
    padding: 1em 0em;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.buttons-li button{
    outline: none;
    border: none;
    padding: 1em 2em;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    width: auto;
    /* margin-left:0.5em; */
}

.bottom-button{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.bottom-button button{
    width: 100%;
}

.bottom-button button:nth-child(1){
    width: 100%;
    margin-right: 10px;
}

.product-list .product-li .total{

    width: 100%;
    font-size: 1.2em;
    text-align: right;
}

.product-list .product-li img{
    width: 50px;
    margin-right: 10px;
}

/* cart without products */

.cart-container p{
    width: 100%;
    text-align:center;
}

.cart-container .link{
    text-decoration: none;
    color: #0969da;
}

.cart-container .link:hover{
    text-decoration-line: underline;
}

.cart-container .link svg{
    position: absolute;
    margin-top: 0.33em;
    font-size: 0.9em;
}

@media (min-width: 1024px){
    .cart-container{
        max-width: 1024px;
    }
    .cart-container h2{
        font-size: 2em;
    }
    .product-list{
        width: 1000px;
    }

    .bottom-button button:nth-child(1){
        width: auto;
        margin-right: 10px;
    }

    .bottom-button button{
        width: auto;
    }

    .product-list .product-li h3{
        font-size: 1em;
        text-align:right;
    }
    
    .product-list .product-li h4{
        font-size: 1em;
        text-align:right;
    }
    
    .product-list .product-li h5{
        font-size: 1em;
        text-align: right;
    }

    .product-list .product-li img{
        width: 75px;
        margin-right: 10px;
    }
}