header{
    border-bottom:1px solid #21212c;
    height: 55px;
}

nav{
    color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1144px;
    margin: auto;
}

.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.links a{
    color: #333333;
    text-decoration: none;
    padding: 1rem;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.links a:hover{
    color: #ccc;
    cursor:default; 
}

nav .img-logo{
    width: 80px;
    height: 43px;
}