.item-list-container{
    width: 100%;
    display: grid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 7px;
    justify-content: center;
    padding: 0em 3em;
}