.setStep{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color:#E4E9F7;
    justify-content: center;
    padding: 1em 0em;
}

.setStep h2{
    font-size: 1.5em;
}

.form h3{
    width: 100%;
    text-align:center;
    text-align: left;
    font-size: 0.875em;
}

textarea {
    resize: none;
}

.form{
    display: flex;
    width: 100%;
    justify-content: center;
}

.form .form-container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
    padding: 1em;
}

.form .form-container input,
.form .form-container textarea{
    width: 100%;
    outline: none;
    border: none;
    padding: 0.7em;
    margin: 0.5em 0em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.875em;
}

.form .form-container .button-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form .form-container button
{   
    outline: none;
    border: none;
    padding: 1em 2em;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    width: 100%;
}

.form .form-container .button-container input
{
    outline: none;
    border: none;
    padding: 1em 2em;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    width: 47.5%;
    border-radius: 0px;
}

.form .form-container .button-container .secondary{
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
}

.form .form-container .secondary,
.form .form-container .primary{
    width: 47.5%;
}

.form .form-container .credit-card-data{

    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form .form-container .credit-card-data input{
    width: 45%;
}

.form .form-container label{
    width: 100%;
    margin: 0.5em 0em;
    font-weight: 600;
}

.form .form-container select{
    width: 100%;
    border: none;
    outline: none;
    padding: 1em 0.5em;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 0.5em;
}

.form .form-container .error{
    color: #ff0000;
    width: 100%;
    margin: 0;
    font-size: 0.775em;
}

.form .form-container .valid{
    border-color: #00a650;
}

@media (min-width: 1024px)
{
    .setStep h2{
        font-size: 2em;
    }

    .form h3{
        font-size: 1em;
    }

    .form .form-container input,
    .form .form-container textarea{

    font-size: 1em;
}
}

